# Bitrix24 Configuration
VITE_BITRIX24_WEBHOOK_URL=https://www.sdinmotion.co.za/rest/1/0xtigef2pbdjaxbe/
VITE_BITRIX24_USER_ID=1

# Bitrix24 Department Groups
VITE_BITRIX24_GROUP_WATER=5
VITE_BITRIX24_GROUP_ELECTRICITY=6
VITE_BITRIX24_GROUP_ROADS=7
VITE_BITRIX24_GROUP_WASTE=8


VITE_BITRIX24_DRIVE_FOLDER_WATER=61
VITE_BITRIX24_DRIVE_FOLDER_ELECTRICITY=63
VITE_BITRIX24_DRIVE_FOLDER_ROADS=65
VITE_BITRIX24_DRIVE_FOLDER_WASTE=67
